.mob__banner {
    background-color:#E7CD20;
    color: black;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align:center;
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center left;
}
.mob__banner_name {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
}
.mob__banner_text {
    font-size: 20px;
    width: 80%;
    margin-bottom: 30px;
}
.mob__banner_contacts {
    font-size: 20px;
    margin-bottom: 30px;
}
.mob__banner_button {
    text-align: center;
    text-decoration: none;
    color: #E7CD20;
    height: 30.6px;
    background-color: black;
    font-family: RussoOne;
    font-size: 20px;
    padding-top: 2px;
    margin: 10px;
    margin-top: 20px;
    transition: 200ms ease-in all;
    cursor: pointer;
    border:1px solid transparent;
}
.mob__banner_button:hover {
    color: black;
    background-color:#E7CD20;
    border: 1px solid black;
}
@media (max-width:1050px) {
    .mob__banner {
        display: flex;
    }
}
